@use '../../utils' as *;

.product-wrapper {
  .product-item {
    img {
      max-width: 290px;
      max-height: 290px;
    }
    @media #{$xs} {
      img {
        max-width: initial;
        max-height: initial;
      }
    }
  }

  .prd-not-found {
    padding-top: 40px;
    &-img {
      max-width: 40%;
      height: auto;
    }
  }
}
